<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->

<widget xmlns = "http://www.w3.org/ns/widgets"

xmlns:gap = "http://phonegap.com/ns/1.0"

id = "com.itsprasanth.Test App Directory"

version = "1.0.0">

<name>Test App</name>

<description>

Test App

</description>

<author href="http://www.itsprasanth.com" email="prasanth.kb5@gmail.com">
Prasanth

</author>


<accesss origin="*" />


</widget>
